.btn-circle {
  width: 60px !important;
  height: 57px !important;
  padding: 0px 0px !important;
  border-radius: 28px !important;
  text-align: center !important;
  font-size: 12px !important;
  line-height: 1.42857 !important;
}
